*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #f5efe6;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

.container{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1 10px 30px rgb(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;

}